#outerPanel {
	width: 925px;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	background-color: #a3a19f ;
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	border-radius:8px;
}

.oneFourthPanel {
    width: 25%;
    margin: 0.25%;
    display: inline-block;
    padding-top: 0.25em;
    vertical-align: top;
}
.treksListPanel {
    overflow-y: auto;
    max-height: 550px;
}
.oneThirdPanel {
    width: 32.5%;
    margin: 0.25%;
    display: inline-block;
    padding-top: 0.25em;
    vertical-align: top;
}
.oneHalfPanel {
    width: 50%;
    margin: 0.25%;
    display: inline-block;
    padding-top: 0.25em;
    vertical-align: top;
}
.threeFourthsPanel {
    width: 70%;
    margin: 0.25%;
    display: inline-block;
    padding-top: 0.25em;
    vertical-align: top;
}
.verticalPrevNextLocationLinks {
    align: right;
}

.descriptionTextXLarge {
	font-weight: bold;
	font-size: x-large;
}

.descriptionTextLarge {
	font-weight: bold;
	font-size: large;
}
.descriptionTextSmall {
	font-size: small;
}

.topbarPad {
	height: 34px;
	padding: .2em;
}

.topbarPadForLeft {
	display: inline-block;
	padding-right: 1em;
	float: left;
	font-size: large;
	vertical-align: text-bottom;
}
.topbarPadForCenter {
	display: inline-block;
	text-align: right;
	padding-left: 3em;
	font-size: small;
	vertical-align: text-bottom;
}
.topbarPadForRight {
	display: inline-block;
	padding-left: 1em;
	float: right;
	font-size: small;
	vertical-align: text-bottom;
}
.seasonTrekAlign {
	display: inline-block;
	float: left;
	text-align: left;
	padding-left: 3em;
	vertical-align: text-bottom;
}
.seasonTreksContainer {
}
.textAlignLeft {
	text-align: left;
}
.textAlignCenter {
	text-align: center;
}
.textAlignRight {
	text-align: right;
}


#headerDiv, #contentDiv {
float: left;

}

#headerDiv a {
float: right;
margin: 0px 20px 0px 0px;
}

#headerDiv a:hover {
color: #FFFFFF;
}

#titleText {
float: left;
font-size: 1.1em;
font-weight: bold;
margin: 5px;
}

#myHeader {
font-size: 1.1em;
font-weight: bold;
margin: 5px;
}

#myContent {
margin: 5px 10px;
}

#trekPic {
	border-radius:10px;
}

.captionDiv {
    border-radius:7px;
    opacity: .7;
}

/* unvisited link */
a:link {
    color: #990000;
}

/* visited link */
a:visited {
    color: #990000;
}

/* mouse over link */
a:hover {
    opacity: .2;
}

/* selected link */
a:active {
    color: #990000;
}

img {
    vertical-align: bottom;
}

.jay-animate-fading {
        animation: fading 60s infinite;
        animation-name: fading;
        animation-duration: 60s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: backwards;
        animation-play-state: running;
}
#outerImageContainer {
    background-color: #333;
    width: 450px;
    height: 300px;
} 
#imageContainer {
    background-color: #333;
    width: 900px;
    height: 675px;
    overflow: hidden;
    border-radius:8px;
} 
#imageContainer img {
  animation: kenburns 120s infinite;
}
@keyframes kenburns {
  0%   { opacity: 0; }
  2%   { opacity: 1; }
  98%  { opacity: 1;
      transform: scale3d(1.5, 1.5, 1.5) translate3d(-75px, -75px, 0px);
  }
  100% { opacity: 0;
      transform: scale3d(1.5, 1.5, 1.5) translate3d(-75px, -75px, 0px);
  }
}

