#outerPanel {
	width: 1240px;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	background-color: #a3a19f ;
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	border-radius:8px;
}

.oneFourthPanel {
    width: 25%;
    margin: 0.25%;
    display: inline-block;
    padding-top: 0.25em;
    vertical-align: top;
}
.treksListPanel {
    overflow-y: auto;
    max-height: 550px;
}
.oneThirdPanel {
    width: 32.5%;
    margin: 0.25%;
    display: inline-block;
    padding-top: 0.25em;
    vertical-align: top;
}
.oneHalfPanel {
    width: 50%;
    margin: 0.25%;
    display: inline-block;
    padding-top: 0.25em;
    vertical-align: top;
}
.threeFourthsPanel {
    width: 70%;
    margin: 0.25%;
    display: inline-block;
    padding-top: 0.25em;
    vertical-align: top;
}
.verticalPrevNextLocationLinks {
    align: right;
}

.descriptionTextXLarge {
	font-weight: bold;
	font-size: x-large;
}

.descriptionTextLarge {
	font-weight: bold;
	font-size: large;
}
.descriptionTextSmall {
	font-size: small;
}

.topbarPad {
	height: 34px;
	padding: .2em;
}

.topbarPadForLeft {
	display: inline-block;
	padding-right: 1em;
	float: left;
	font-size: large;
	vertical-align: text-bottom;
}
.topbarPadForCenter {
	display: inline-block;
	text-align: right;
	padding-left: 3em;
	font-size: small;
	vertical-align: text-bottom;
}
.topbarPadForRight {
	display: inline-block;
	padding-left: 1em;
	float: right;
	font-size: small;
	vertical-align: text-bottom;
}
.seasonTrekAlign {
	display: inline-block;
	float: left;
	text-align: left;
	padding-left: 3em;
	vertical-align: text-bottom;
}
.seasonTreksContainer {
}
.textAlignLeft {
	text-align: left;
}
.textAlignCenter {
	text-align: center;
}
.textAlignRight {
	text-align: right;
}

#middleRow {
	border-radius:10px;
	padding: 0.1em;
	border-style:solid;
	border-color:#a3a19f;
	display: inline-block;
}
#monthCell {
	border-radius:10px;
	padding: 0.1em;
	border-style:solid;
	border-color:#a3a19f;
	display: inline-block;
}

#middleRow2 {
	border-radius:15px;
	padding: 0.7em;
	background-color: #ffffff;
	border-style:solid;
	border-color:#ffffff;
	display: inline-block;
}


#headerDiv, #contentDiv {
float: left;

}

#headerDiv a {
float: right;
margin: 0px 20px 0px 0px;
}

#headerDiv a:hover {
color: #FFFFFF;
}

.myTreksNoPics {
font-size: small;
font-weight: normal;
}

.myTreks:hover {
color: #FFFFFF;
}

#titleText {
float: left;
font-size: 1.1em;
font-weight: bold;
margin: 5px;
}

#myHeader {
font-size: 1.1em;
font-weight: bold;
margin: 5px;
}

#myContent {
margin: 5px 10px;
}

#trekPic {
	border-radius:10px;
}

/* unvisited link */
a:link {
    color: #990000;
}

/* visited link */
a:visited {
    color: #990000;
}

/* mouse over link */
a:hover {
    opacity: .2;
}

/* selected link */
a:active {
    color: #990000;
}

img {
    vertical-align: bottom;
}

.fhjTable
{
	display: table;
	border-radius:8px;
	background-color: #FFFFFF;
}
.fhjTableTitle
{
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
}
.fhjTableHeading
{
        display: table-row;
        font-weight: bold;
        text-align: center;
}
.fhjTableRow
{
        display: table-row;
}
.fhjTableRow2
{
        display: table-row;
}
.fhjTableCellL
{
/*	width: 40px; */
        text-align: left;
        display: table-cell;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 5px;
        padding-top: 3px;
	border-style:solid;
	border-color:#a3a19f;
}
.fhjTableCell
{
/*	width: 40px; */
        text-align: right;
        display: table-cell;
        border-width: thin;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 5px;
        padding-top: 3px;
}
.jay-animate-fading {
    /* animation: fading 10s infinite; */
        animation-name: fading;
        animation-duration: 4s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
}
#outerImageContainer {
    background-color: #333;
    width: 450px;
    height: 300px;
} 
#imageContainer {
    background-color: #333;
    width: 900px;
    height: 675px;
    overflow: hidden;
} 
#imageContainer img {
  animation: kenburns 30s infinite;
}
@keyframes kenburns {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(1.25, 1.25, 1.25) translate3d(-50px, -50px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(1.7, 1.7, 1.7) translate3d(-120px, -100px, 0px);
        opacity: 0;
    }
}
